<?xml version='1.0' encoding='utf-8'?>
<widget id="com.softdive.madpiggy.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
	xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Madpiggy</name>
	<description>
		Madpiggy, a venture of softdive is a marketing platform.
	</description>
	<author email="deepak@softdive.com" href="http://www.madpiggy.com">
		Madpiggy Team
	</author>
	
	<platform name="android">
        <splash src="res/screen/android/splash_screen.jpg"/>
	</platform>
	
	<platform name="ios">
	    <splash src="res/screen/ios/splash_screen-320-480.png" width="320" height="480"/>
	    <splash src="res/screen/ios/splash_screen-640-960.png" width="640" height="960"/>
	    <splash src="res/screen/ios/splash_screen-768-1024.png" width="768" height="1024"/>
	    <splash src="res/screen/ios/splash_screen-1536-2048.png" width="1536" height="2048"/>
	    <splash src="res/screen/ios/splash_screen-1024-768.png" width="1024" height="768"/>
	    <splash src="res/screen/ios/splash_screen-2048-1536.png" width="2048" height="1536"/>
	    <splash src="res/screen/ios/splash_screen-640-1136.png" width="640" height="1136"/>
	    <splash src="res/screen/ios/splash_screen-750-1334.png" width="750" height="1334"/>
	    <splash src="res/screen/ios/splash_screen-1242-2208.png" width="1242" height="2208"/>
	    <splash src="res/screen/ios/splash_screen-2208-1242.png" width="2208" height="1242"/>
	</platform>
	
	<platform name="ios">
	    <icon src="res/icon/app_icon.png"/>
		<icon src="res/icon/icon-120.png" width="120" height="120"/>
		<icon src="res/icon/icon-152.png" width="152" height="152"/>
		<icon src="res/icon/icon-76.png" width="76" height="76"/>
		<icon src="res/icon/icon-72.png" width="72" height="72"/>
		<icon src="res/icon/icon-57.png" width="57" height="57"/>
		<icon src="res/icon/icon-40.png" width="40" height="40"/>
	</platform>
	
    <preference name="SplashScreenDelay" value="1000000" />
	
	<content src="app.html" />
	<access origin="*" />

	<preference name="DisallowOverscroll" value="true" />
	<preference name="UIWebViewBounce" value="false" />
	<feature name="org.apache.cordova.facebook.Connect">
		<param name="android-package" value="org.apache.cordova.facebook.ConnectPlugin" />
	</feature>

	<feature name="SocialSharing">
		<param name="android-package" value="nl.xservices.plugins.SocialSharing" />
	</feature>
	
	<feature name="FacebookPlugin">
		<param name="android-package" value="com.phonegap.plugins.facebookconnect" />
		<param name="APP_ID" value="275966615916506" />
		<param name="APP_NAME" value="Madpiggy" />
	</feature>

	<gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.8.0">
		<param name="APP_ID" value="275966615916506" />
		<param name="APP_NAME" value="Madpiggy" />
	</gap:plugin>
	<gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.0" />

</widget>
